{% extends 'base.html' %}

{% block content %}
    qubits: <input type="text" id="qubits">
    <button onclick="new_circuit()"> New Gate </button> 
    <h4>Gates</h4>
    name: <input type="text" name="g_types" value="Hadamard" disabled>
    target: <input type="text" name="g_targets">
    control: <input type="text" name="g_controls" disabled> <br>

    name: <input type="text" name="g_types" value="SQRTNOT" disabled>
    target: <input type="text" name="g_targets">
    control: <input type="text" name="g_controls" disabled=""> <br>

    name: <input type="text" name="g_types" value="CNOT" disabled>
    target: <input type="text" name="g_targets">
    control: <input type="text" name="g_controls"> <br>

    name: <input type="text" name="g_types" value="CSIGN" disabled>
    target: <input type="text" name="g_targets">
    control: <input type="text" name="g_controls"> <br>

    name: <input type="text" name="g_types" value="BERKELEY" disabled>
    target: <input type="text" name="g_targets">
    control: <input type="text" name="g_controls" disabled> <br>

    <button onclick="send()"> Add Gate </button>

    <h4>SWAP Gates</h4>
    type: <input type="text" name="s_types" value="SWAPALPHA" disabled>
    target: <input type="text" name="s_targets">
    angle (pi/): <input type="text" name="s_angle"> <br>

    type: <input type="text" name="s_types" value="SWAP" disabled>
    target: <input type="text" name="s_targets">
    angle (pi/): <input type="text" name="s_angle" disabled> <br>

    type: <input type="text" name="s_types" value="ISWAP" disabled>
    target: <input type="text" name="s_targets">
    angle (pi/): <input type="text" name="s_angle" disabled> <br>

    type: <input type="text" name="s_types" value="SQRTISWAP" disabled>
    target: <input type="text" name="s_targets">
    angle (pi/): <input type="text" name="s_angle" disabled> <br>

    type: <input type="text" name="s_types" value="SQRTSWAP" disabled>
    target: <input type="text" name="s_targets">
    angle (pi/): <input type="text" name="s_angle" disabled> <br>

    <button onclick="new_swap()"> Add SWAP </button>


    <h4>Rotations</h4>
    type: <input type="text" name="r_types" value="RX" disabled>
    target: <input type="text" name="r_targets">
    angle (pi/): <input type="text" name="r_angle"> <br>

    type: <input type="text" name="r_types" value="RY" disabled>
    target: <input type="text" name="r_targets">
    angle (pi/): <input type="text" name="r_angle"> <br>

    type: <input type="text" name="r_types" value="RZ" disabled>
    target: <input type="text" name="r_targets">
    angle (pi/): <input type="text" name="r_angle"> <br>

    type: <input type="text" name="r_types" value="PHASEGATE" disabled>
    target: <input type="text" name="r_targets">
    angle (pi/): <input type="text" name="r_angle"> <br>

    type: <input type="text" name="r_types" value="GLOBALPHASE" disabled>
    target: <input type="text" name="r_targets">
    angle (pi/): <input type="text" name="r_angle"> <br>

    <button onclick="new_rotation()"> Add Rotation </button>


    <hr>
    index: <input type="text" id="gate_ind"> 
    <button onclick="remove_gate()"> Remove gate by index</button> 
    <br>
    <table id="result"></table>
    <img id="image"></img>
{% endblock %}

{% block script %}

    <script>
        function new_circuit() {
          var form = new FormData();
          form.append("N", $("#qubits").val())

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://localhost:8000/new_circuit/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              // $("#result").html(response);

              var rowHtml = '';
              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow($("#qubits").val(), 2)
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  rowHtml+='<td>'+"0"+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/qcirc.png?v=" + new Date().getTime());
            });

        }

        function remove_gate() {
          var form = new FormData();
          form.append("ind", $("#gate_ind").val())

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://localhost:8000/remove_gate/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';

              if (myList.length < 2) {
                var n = 0;
                if ($("#qubits").val() == 1){
                  n = 2;
                } else {
                  n = Math.pow($("#qubits").val(), 2)
                }
                var i = 0;

                for (row = 0; row < n; row++) {
                  rowHtml+='<tr>';
                  for (col = 0; col < n; col++) {
                    rowHtml+='<td>'+"0"+'</td>';
                    i++;
                  }
                  rowHtml+='</tr>';
                }
              } else {
                var n = 0;
                if ($("#qubits").val() == 1){
                  n = 2;
                } else {
                  n = Math.pow($("#qubits").val(), 2)
                }
                var i = 0;

                for (row = 0; row < n; row++) {
                  rowHtml+='<tr>';
                  for (col = 0; col < n; col++) {
                    rowHtml+='<td>'+myList[i]+'</td>';
                    i++;
                  }
                  rowHtml+='</tr>';
                }
              }

              $("#result").html(rowHtml);

              $("#image").attr("src", "/static/qcirc.png?v=" + new Date().getTime());
              $("#gate_ind").val('');
            });           

        }

        function send() {
            var form = new FormData();
            $('input[name=g_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=g_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=g_controls]').each(function(i, v) {
                form.append("controls[]", v.value);
            });

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://localhost:8000/calculate/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';


              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow($("#qubits").val(), 2)
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  rowHtml+='<td>'+myList[i]+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);




              $("#image").attr("src", "/static/qcirc.png?v=" + new Date().getTime());
              $('input[name=g_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=g_controls]').each(function(i, v) {
                  v.value = '';
              });
            });
        }

        function new_rotation() {
            var form = new FormData();
            $('input[name=r_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=r_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=r_angle]').each(function(i, v) {
                form.append("angles[]", v.value);
            });

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://localhost:8000/new_rotation/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';


              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow($("#qubits").val(), 2)
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  rowHtml+='<td>'+myList[i]+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/qcirc.png?v=" + new Date().getTime());
              $('input[name=r_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=r_angle]').each(function(i, v) {
                  v.value = '';
              });
            });
        }

        function new_swap() {
            var form = new FormData();
            $('input[name=s_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=s_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=s_angle]').each(function(i, v) {
                form.append("angles[]", v.value);
            });

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "http://localhost:8000/new_swap/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';


              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow($("#qubits").val(), 2)
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  rowHtml+='<td>'+myList[i]+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/qcirc.png?v=" + new Date().getTime());
              $('input[name=s_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=s_angle]').each(function(i, v) {
                  v.value = '';
              });

            });
        }

    </script>
{% endblock %}
