{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <input type="text" data-step="1" data-intro="Assign the qubit number to create new Quantum Circuit" class="form-control" placeholder="Number of qubits" id="qubits">
            <span class="input-group-btn">
                <button data-step="2" data-intro="Click the button to create a circuit with assigned qubit number" class="btn btn-default" type="button" onclick="new_circuit()">New Circuit</button>                
                <button data-step="12" data-intro="You can save your work and download the dump" class="btn btn-default"><a href="/export_dump/">Export dump</a></button>
                <button data-step="13" data-intro="To continue your work again upload your saved file here" class="btn btn-default" type="button" onclick="import_file()">Import dump</button>  
            </span>
            <input type="file" class="form-control" id="file" placeholder="file">

          </div>
        </div>
        <div class="col-lg-5">
        </div>
        <div class="col-lg-1">
            <a data-step="16" data-intro="To start Tutorial again click this button. Start working on NOVA" class="btn btn-large btn-success" href="javascript:void(0);" onclick="javascript:introJs().start();">Tutorial</a>
        </div>     
    </div>
    <div class="row">
      <div class="col-sm-3"><h4><strong>Gates</strong></h4></div>
      <div class="col-sm-3"><h4><strong>SWAP Gates</strong></h4></div>
      <div class="col-sm-3"><h4><strong>Rotations</strong></h4></div>
      <div class="col-sm-3" data-step="11" data-intro="Created Transformation rules are stored here"><h4><strong>Transformation Rules</strong></h4></div>
    </div>
    <div class="row" data-step="3" data-intro="You can select any quantum gate or rotation for adding to the quantum circuit"> 
      <div class="col-sm-3">
        <table class="table table-sm table-bordered table-condensed" style="font-size:12px">          
            <th class="col-xs-2">Name</th>
            <th class="col-xs-1">Target</th>
            <th class="col-xs-1">Control</th>
          </thead>
          <tbody>
            <tr data-step="4" data-intro="Assign the target qubit">
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_types" value="HADAMARD" disabled></td>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_targets"></td>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_controls" disabled></td>
            </tr>
            <tr>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_types" value="SQRTNOT" disabled></td>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_targets">
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_controls" disabled></td>
            </tr>
            <tr data-step="5" data-intro="Or target and control qubits">
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_types" value="CNOT" disabled></td>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_targets">
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_controls"></td>
            </tr>
            <tr>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_types" value="CSIGN" disabled></td>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_targets">
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_controls"></td>
            </tr>
            <tr>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_types" value="BERKELEY" disabled></td>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_targets">
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_controls" disabled></td>
            </tr>
            <tr>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_types" value="TOFFOLI" disabled></td>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_targets">
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_controls"></td>
            </tr>
            <tr>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_types" value="FREDKIN" disabled></td>
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_targets">
              <td><input style="font-size:10px" class="form-control input-sm" type="text" name="g_controls"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-3">
        <table class="table table-sm table-bordered table-condensed" style="font-size:12px">          
            <th class="col-xs-2">Type</th>
            <th class="col-xs-1">Target</th>
            <th class="col-xs-1">angle (pi/)</th>
          </thead>
          <tbody>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="SWAPALPHA" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets"></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle"></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="SWAP" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle" disabled></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="ISWAP" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle" disabled></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="SQRTISWAP" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle" disabled></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="SQRTSWAP" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle" disabled></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets" disabled>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle" disabled></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets" disabled>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle" disabled></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-3">
        <table class="table table-sm table-bordered table-condensed" style="font-size:12px">          
            <th class="col-xs-2">Type</th>
            <th class="col-xs-1">Target</th>
            <th class="col-xs-1">angle (pi/)</th>
          </thead>
          <tbody>
            <tr data-step="6" data-intro="Or phase of rotation for selected gate">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_types" value="RX" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_targets"></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_angle"></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_types" value="RY" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_targets">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_angle"></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_types" value="RZ" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_targets">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_angle"></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_types" value="PHASEGATE" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_targets">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_angle"></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_types" value="GLOBALPHASE" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_targets">
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="r_angle"></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets" disabled>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle" disabled></td>
            </tr>
            <tr>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_types" value="" disabled></td>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_targets" disabled>
              <td><input style="font-size:11px" class="form-control input-sm" type="text" name="s_angle" disabled></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-3">
        <table id="rule_table" class="table table-sm table-bordered table-condensed" style="font-size:12px">          
            <th class="col-xs-2">Name</th>
            <th class="col-xs-2">Add rule</th>            
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" data-step="7" data-intro="Then click the proper button for adding selected quantum gate or rotation to the quantum circuit or to insert it to a particular place on the circuit">
      <div class="col-sm-1">
          <button class="btn btn-default" onclick="send()"> Add Gate </button>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" onclick="insert_gate()" type="button">Insert into</button>
          </span>
          <input type="text" class="form-control" placeholder="position..." id="gate_pos">
        </div>
      </div>

      <div class="col-sm-1">
          <button class="btn btn-default" onclick="new_swap()"> Add SWAP </button>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-btn">            
            <button class="btn btn-default" onclick="insert_swap()" type="button">Insert into</button>
          </span>
          <input type="text" class="form-control" placeholder="position..." id="swap_pos">
        </div>
      </div>


      <div class="col-sm-1">
          <button class="btn btn-default" onclick="new_rotation()"> Add Rotation </button>
      </div>
      <div class="col-sm-2">
        <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default" onclick="insert_rotation()" type="button">Insert into</button>
          </span>
          <input type="text" class="form-control" placeholder="position..." id="rot_pos">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Index" id="gate_ind">
            <span class="input-group-btn">
              <button data-step="8" data-intro="You can delete any gate on the circuit by assigning its index" class="btn btn-default" type="button" onclick="remove_gate()">Remove gate by index</button>
              <button data-step="9" data-intro="If you want to make complex quantum gate simpler, just find its adjacent gates" class="btn btn-default" type="button" onclick="find_adj_gates()">Find adjacent gates</button>
            </span>
          </div>
        </div>
    </div>
    <div class="row" data-step="10" data-intro="This function is for creating Transformation rule from gates on the quantum circuit. Just select the range for gates and assign the name to the new rule">
        <div class="col-lg-1">
            <input type="text" class="form-control" placeholder="From" id="rule_from">
        </div>
        <div class="col-lg-1">
            <input type="text" class="form-control" placeholder="To" id="rule_to">
        </div>
        <div class="col-lg-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Name" id="rule_name">            
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" onclick="create_rule()">Create new Rule</button>
            </span>
          </div>
        </div>
    </div>
    <br>
    <div class="row" data-step="14" data-intro="The image of your created Quantum Circuit will be here">
        <img id="image" ></img>        
    </div>
    <br>
    <div class="row" data-step="15" data-intro="The matrix of your created Quantum Circuit will be here">
        <div class="col">
            <table class="table table-striped table-bordered table-condensed" id="result" style="font-size:9px; margin-left: 20px;"></table>
        </div>        
    </div>

{% endblock %}

{% block script %}

    <script>
        var user = "";

        function new_circuit() {
          var form = new FormData();
          form.append("N", $("#qubits").val())

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "new_circuit/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              user = myMap['user'];

              var rowHtml = '';
              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow(2, $("#qubits").val())
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  rowHtml+='<td>'+"0"+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
            });

        }

        function remove_gate() {
          var form = new FormData();
          form.append("ind", $("#gate_ind").val())

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "remove_gate/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';

              if (myList.length < 2) {
                var n = 0;
                if ($("#qubits").val() == 1){
                  n = 2;
                } else {
                  n = Math.pow(2, $("#qubits").val())
                }
                var i = 0;

                for (row = 0; row < n; row++) {
                  rowHtml+='<tr>';
                  for (col = 0; col < n; col++) {
                    rowHtml+='<td>'+"0"+'</td>';
                    i++;
                  }
                  rowHtml+='</tr>';
                }
              } else {
                var n = 0;
                if ($("#qubits").val() == 1){
                  n = 2;
                } else {
                  n = Math.pow(2, $("#qubits").val())
                }
                var i = 0;

                for (row = 0; row < n; row++) {
                  rowHtml+='<tr>';
                  for (col = 0; col < n; col++) {
                    var str = '';
                    var str_int;
                    if (myList[i].includes('+0j')) {
                      str = myList[i].replace('+0j', '').replace('(', '').replace(')','');

                      str_int = parseFloat(str).toFixed(2);
                    } else {
                      str_int = myList[i];
                    }
                    rowHtml+='<td>'+str_int+'</td>';
                    i++;
                  }
                  rowHtml+='</tr>';
                }
              }

              $("#result").html(rowHtml);

              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
              $("#gate_ind").val('');
            });           

        }

        function send() {
            var form = new FormData();
            $('input[name=g_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=g_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=g_controls]').each(function(i, v) {
                form.append("controls[]", v.value);
            });

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "calculate/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';
              

              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow(2, $("#qubits").val())
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  var str = '';
                  var str_int;
                  if (myList[i].includes('+0j')) {
                    str = myList[i].replace('+0j', '').replace('(', '').replace(')','');
                    str_int = parseFloat(str).toFixed(2);
                  } else if (myList[i] == '0j') {
                    str_int = '0';
                  } else {
                    str_int = myList[i];
                  }
                  rowHtml+='<td>'+str_int+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }              

              $("#result").html(rowHtml);




              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
              $('input[name=g_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=g_controls]').each(function(i, v) {
                  v.value = '';
              });
            });
        }

        function insert_gate() {
            var form = new FormData();
            $('input[name=g_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=g_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=g_controls]').each(function(i, v) {
                form.append("controls[]", v.value);
            });
            
            form.append("pos", $("#gate_pos").val())


            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "insert_gate/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';
              

              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow(2, $("#qubits").val())
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  var str = '';
                  var str_int;
                  if (myList[i].includes('+0j')) {
                    str = myList[i].replace('+0j', '').replace('(', '').replace(')','');                  
                    str_int = parseFloat(str).toFixed(2);
                  } else if (myList[i] == '0j') {
                    str_int = '0';
                  } else {
                    str_int = myList[i];
                  }
                  rowHtml+='<td>'+str_int+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);

              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
              $('input[name=g_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=g_controls]').each(function(i, v) {
                  v.value = '';
              });
              $("#gate_pos").val('');

            });
        }

        function new_rotation() {
            var form = new FormData();
            $('input[name=r_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=r_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=r_angle]').each(function(i, v) {
                form.append("angles[]", v.value);
            });

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "new_rotation/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';


              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow(2, $("#qubits").val())
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  var str = '';
                  var str_int;
                  if (myList[i].includes('+0j')) {
                    str = myList[i].replace('+0j', '').replace('(', '').replace(')','');                  
                    str_int = parseFloat(str).toFixed(2);
                  } else if (myList[i] == '0j') {
                    str_int = '0';
                  } else {
                    str_int = myList[i];
                  }
                  rowHtml+='<td>'+str_int+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
              $('input[name=r_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=r_angle]').each(function(i, v) {
                  v.value = '';
              });
            });
        }

        function insert_rotation() {
            var form = new FormData();
            $('input[name=r_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=r_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=r_angle]').each(function(i, v) {
                form.append("angles[]", v.value);
            });

            form.append("pos", $("#rot_pos").val())

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "insert_rotation/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';


              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow(2, $("#qubits").val())
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  var str = '';
                  var str_int;
                  if (myList[i].includes('+0j')) {
                    str = myList[i].replace('+0j', '').replace('(', '').replace(')','');                  
                    str_int = parseFloat(str).toFixed(2);
                  } else if (myList[i] == '0j') {
                    str_int = '0';
                  } else {
                    str_int = myList[i];
                  }
                  rowHtml+='<td>'+str_int+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
              $('input[name=r_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=r_angle]').each(function(i, v) {
                  v.value = '';
              });

              $("#rot_pos").val('');

            });
        }

        function new_swap() {
            var form = new FormData();
            $('input[name=s_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=s_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=s_angle]').each(function(i, v) {
                form.append("angles[]", v.value);
            });

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "new_swap/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';


              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow(2, $("#qubits").val())
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  var str = '';
                  var str_int;
                  if (myList[i].includes('+0j')) {
                    str = myList[i].replace('+0j', '').replace('(', '').replace(')','');                  
                    str_int = parseFloat(str).toFixed(2);
                  } else if (myList[i] == '0j') {
                    str_int = '0';
                  } else {
                    str_int = myList[i];
                  }
                  rowHtml+='<td>'+str_int+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
              $('input[name=s_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=s_angle]').each(function(i, v) {
                  v.value = '';
              });

            });
        }

        function insert_swap() {
            var form = new FormData();
            $('input[name=s_types]').each(function(i, v) {
                form.append("types[]", v.value);
            });
            $('input[name=s_targets]').each(function(i, v) {
                form.append("targets[]", v.value);
            });
            $('input[name=s_angle]').each(function(i, v) {
                form.append("angles[]", v.value);
            });

            form.append("pos", $("#swap_pos").val());

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "insert_swap/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';


              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow(2, $("#qubits").val())
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  var str = '';
                  var str_int;
                  if (myList[i].includes('+0j')) {
                    str = myList[i].replace('+0j', '').replace('(', '').replace(')','');                  
                    str_int = parseFloat(str).toFixed(2);
                  } else if (myList[i] == '0j') {
                    str_int = '0';
                  } else {
                    str_int = myList[i];
                  }
                  rowHtml+='<td>'+str_int+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
              $('input[name=s_targets]').each(function(i, v) {
                  v.value = '';
              });
              $('input[name=s_angle]').each(function(i, v) {
                  v.value = '';
              });

              $("#swap_pos").val('');

            });
        }

        function find_adj_gates() {
            var form = new FormData();

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "find_adj_gates/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';


              var n = 0;
              if ($("#qubits").val() == 1){
                n = 2;
              } else {
                n = Math.pow(2, $("#qubits").val())
              }
              var i = 0;

              for (row = 0; row < n; row++) {
                rowHtml+='<tr>';
                for (col = 0; col < n; col++) {
                  var str = '';
                  var str_int;
                  if (myList[i].includes('+0j')) {
                    str = myList[i].replace('+0j', '').replace('(', '').replace(')','');                  
                    str_int = parseFloat(str).toFixed(2);
                  } else if (myList[i] == '0j') {
                    str_int = '0';
                  } else {
                    str_int = myList[i];
                  }
                  rowHtml+='<td>'+str_int+'</td>';
                  i++;
                }
                rowHtml+='</tr>';
              }
              

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());             

            });
        }

        function import_file() {
            var form = new FormData();
            var file = document.getElementById('file').files[0];

            var form = new FormData();
            form.append("file", file);

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "/import_file/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            }

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];


              $("#qubits").val(myMap['N']);

              var rowHtml = '';

              if (myList.length < 2) {
                var n = 0;
                if ($("#qubits").val() == 1){
                  n = 2;
                } else {
                  n = Math.pow(2, $("#qubits").val())
                }
                var i = 0;

                for (row = 0; row < n; row++) {
                  rowHtml+='<tr>';
                  for (col = 0; col < n; col++) {
                    rowHtml+='<td>'+"0"+'</td>';
                    i++;
                  }
                  rowHtml+='</tr>';
                }
              } else {
                var n = 0;
                if ($("#qubits").val() == 1){
                  n = 2;
                } else {
                  n = Math.pow(2, $("#qubits").val())
                }
                var i = 0;
                for (row = 0; row < n; row++) {
                  rowHtml+='<tr>';
                  for (col = 0; col < n; col++) {
                    var str = '';
                    var str_int;
                    if (myList[i].includes('+0j')) { 
                      str = myList[i].replace('+0j', '').replace('(', '').replace(')','');               
                      str_int = parseFloat(str).toFixed(2);
                    } else {
                      str_int = myList[i];
                    }
                    rowHtml+='<td>'+str_int+'</td>';
                    i++;
                  }
                  rowHtml+='</tr>';
                }
              }

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
            });
        }


        function create_rule() {
          var form = new FormData();
          form.append("name", $("#rule_name").val())
          form.append("from", $("#rule_from").val())
          form.append("to", $("#rule_to").val())

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "create_rule/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {

              var table = document.getElementById('rule_table');


              var row = table.insertRow(table.rows.length);

              var cell1 = row.insertCell(0);
              cell1.innerHTML = '<input style="font-size:11px" class="form-control input-sm" type="text" name="r_types" value="' + $("#rule_name").val() + '" disabled>';

              var cell2=row.insertCell(1);
              cell2.innerHTML = '<button style="font-size:11px" class="form-control input-sm btn btn-default" onclick="add_rule(\'' + $("#rule_name").val() + '\')">Add rule</button>';

              $("#rule_name").val('');
              $("#rule_from").val('');
              $("#rule_to").val('');
            });           

        }

        function add_rule(name) {
          var form = new FormData();
          form.append("name", name)

            var settings = {
              "async": true,
              "crossDomain": true,
              "url": "add_rule/",
              "method": "POST",
              "processData": false,
              "contentType": false,
              "mimeType": "multipart/form-data",
              "data": form
            };

            $.ajax(settings).done(function (response) {
              var myMap = JSON.parse(response);
              var myList = myMap['matrix'];
              var rowHtml = '';

              if (myList.length < 2) {
                var n = 0;
                if ($("#qubits").val() == 1){
                  n = 2;
                } else {
                  n = Math.pow(2, $("#qubits").val())
                }
                var i = 0;

                for (row = 0; row < n; row++) {
                  rowHtml+='<tr>';
                  for (col = 0; col < n; col++) {
                    rowHtml+='<td>'+"0"+'</td>';
                    i++;
                  }
                  rowHtml+='</tr>';
                }
              } else {
                var n = 0;
                if ($("#qubits").val() == 1){
                  n = 2;
                } else {
                  n = Math.pow(2, $("#qubits").val())
                }
                var i = 0;

                for (row = 0; row < n; row++) {
                  rowHtml+='<tr>';
                  for (col = 0; col < n; col++) {
                    var str = '';
                    var str_int;
                    if (myList[i].includes('+0j')) {
                      str = myList[i].replace('+0j', '').replace('(', '').replace(')','');

                      str_int = parseFloat(str).toFixed(2);
                    } else {
                      str_int = myList[i];
                    }
                    rowHtml+='<td>'+str_int+'</td>';
                    i++;
                  }
                  rowHtml+='</tr>';
                }
              }

              $("#result").html(rowHtml);
              $("#image").attr("src", "/static/user/" + user + "/qcirc.png?v=" + new Date().getTime());
            });           

        }



    </script>
{% endblock %}